<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>This is profile page</h1>
        <%= user.name %>
        <%= user.email%>
    </body>
</html>