<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>This is sign Up page</h1>
        <form action="/users/create" method="post">
            <input type="email" placeholder="Enter Your Email" name="email">
            <input type="number" placeholder="Enter Your password" name="password">
            <input type="number" placeholder="Enter Your password" name="confirmPassword">
            <input type="text" placeholder="Enter Your Name" name="name">
            <input type="submit">
        </form>
    </body>
</html>